<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="starklabs.sivodim"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.github.hiteshsondhi88.libffmpeg"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Drama.View.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Drama.View.ListChapterActivity"
            android:label="@string/title_activity_list_chapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Drama.View.NewScreenplayActivity" />
        <activity
            android:name=".Drama.View.ListSpeechesActivity"
            android:label="@string/title_activity_list_speeches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Drama.View.NewChapterActivity" />
        <activity android:name=".Drama.View.EditChapterActivity" />
        <activity android:name=".Drama.View.NewSpeechActivity" />
        <activity android:name=".Drama.View.EditSpeechActivity" />
        <activity
            android:name=".Drama.View.ListCharacterActivity"
            android:label="@string/title_activity_list_character"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Drama.View.NewCharacterActivity" />
        <activity android:name=".Drama.View.EditCharacterActivity"></activity>
    </application>

</manifest>